@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 40px;
}
#red {
    color: #ce2020;
}
#green {
    color: #8dc728;
}

body {
    margin: 0px;
}
.container {
    background-color: #e0e0e0;
}

.navbar {
    background-color: #ffffff;
    padding: 20px 80px;
}
.header-right a {
    text-decoration: none;
    font-size: 16px;
    padding: 25px;
    text-align: center;
    float: right;
}

.left {
    padding: 40px 70px;
}
.paragraph {
    line-height: 20px;
    width: 210px;
}
.arrow {
    line-height: 40px;
    font-weight: bold;
}



.pic{
    display: flex;
}

img {
    width: 300px;
}