@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

.archivo-black-regular {
    font-family: "Archivo Black", sans-serif;
    font-size: 34px;
}

* {
    text-decoration: none;
}

body {
    margin: 0px;
    background-image: url(restaurant.png);
}

.navbar {
    background-color: #ffffff;
    padding: 25px 80px;
}

#red {
    color: #ce2020;
}

#green {
    color: #8dc728;
}

.header-right a {
    font-size: 16px;
    padding: 0px 30px;
    text-align: center;
    float: right;
    color: #333;
    min-height: 37px;
    align-content: center;
    font-family: "Roboto", sans-serif;
    color: #333;
}









.container {
    background-color: #e0e0e0;
    padding: 40px;
}

.main {
    padding: 45px 42px;
    display: flex;
}

.left-section {
    padding: 0px 80px 0px 0px;
}

h1 {
    margin: 0px;
    font-family: "Archivo Black", sans-serif;
    font-size: 55px;
}

p {
    line-height: 25px;
    width: 290px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: #333;

}

a {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: #333;
}

.arrow {
    line-height: 40px;
    font-weight: bold;
}









.image-container{
    display: flex;
}

img {
    width: 275px;
    padding: 7px;
}

.whitebox {
    position: absolute;
    transform: translate(201px, 344px);
    padding: 15px;
    background-color: white;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.greenbox {
    position: absolute;
    transform: translate(143px, 391px);
    padding: 23px 70px;
    background-color: #8dc728;
}

.text-overlay {
    position: absolute;
    transform: translate(175px, 406px);
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

#sweet {
    transform: translate(488px, 342px);
}

.lunch-greenbox {
    position: absolute;
    transform: translate(421px, 389px);
    padding: 24px 75px;
    background-color: #8dc728;
}

#lunch {
    transform: translate(504px, 405px);
}

#shrimp {
    object-fit: cover;
    height: 430px;
    position: static;
}

#delicious {
    transform: translate(749px, 342px);
}

.dinner-greenbox {
    position: absolute;
    transform: translate(710px, 389px);
    padding: 24px 75px;
    background-color: #8dc728;
}

#dinner {
    transform: translate(788px, 406px);
}









.footer {
    justify-content: flex-end;
    display: flex;
}

.footer p {
    font-size: 15px;
    padding: 20px
}